@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
a {
    text-decoration: none;
}
  