    $body-font: Poppins;
    $nav-height: 70px;
    $max-width: 1024px;

      %center{
          display: flex;
          align-items: center;
          justify-content: center;
      }

      %button{
          border: none;
          border-radius: 0.5rem;
          background-color: var(--font-color);
          color: var(--background-color);
          font-weight: 900;
          text-align: center;
          &:hover{
              background-color: var(--span-font-color);
              color: var(--font-color);
          }
      }



      


    